/* src/pages/UserLogin.css */

.user-login-body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5; /* Light background for contrast */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.user-login-container {
    background-color: rgba(40, 167, 69, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px; /* Limit max width for better mobile experience */
    text-align: center;
}

.user-login-title {
    color: rgb(255, 255, 255); /* Color for the title */
    margin-bottom: 10px; /* Adjust margin for better spacing */
}

.form-group {
    margin-bottom: 15px; /* Space between fields */
    text-align: left; /* Align labels to the left */
}

.label {
    font-weight: bold;
    color: rgb(255, 255, 255); /* Label color */
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.input:focus {
    border-color: rgba(40, 167, 69, 0.8); /* Border color on focus */
    outline: none;
}

.button {
    background-color: rgb(255, 255, 255); /* Button color */
    color: rgba(40, 167, 69, 0.8); /* Text color on button */
    border: none;
    border-radius: 5px;
    padding: 12px 0; /* Adjusted padding for height consistency */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width for button */
    margin-top: 10px; /* Space above button */
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Hover effect */
}

.error-message {
    color: red;
    margin-top: 10px;
}
